PURCHASES VIEW


<% for(let i=0;i<purchases.length;i++) { %>
    <div>
        <%= purchases[i].title %>

            <%= purchases[i].price%>
    </div>
    <div>
        <img src="<%=purchases[i].image%>" width="250px">

    </div>
    <% } %>