<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/">
            <img class="mx-1" src="/resources/logo/logo.png" alt="" srcset="" style="width:2vw;">
        </a>
        <a href="/" id="landing__link" class="navbar-item">
            <span class="site__name">The Exhibit </span>
        </a>
    </div>

    <form action="/gallery">
        <div class="searchbar">
            <input id="search_input" type="search" placeholder="Find a post or tag or artpiece" name="q">
            <input type="submit" class="button fa fa-search" id="search__button" value="Search">
        </div>
    </form>

    <!-- this will add a link to the new route -->
    <div class="navbar-menu navbar-end">
        <% if (typeof user !=='undefined' ) { %>
            <a class="navbar-item" href="/users/<%= user.id %>" title="View your profile">
                <div>
                    <%= user.username %>
                </div>
            </a>
            <div class="dropdown">
                <button class="btn btn-secondary navbar-item dropdown-toggle" type="button" id="dropdownmenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu" style="background:beige;padding:0">
                    <li><a class="dropdown-item navbar-item" href="/gallery" title="View all artwork">Gallery</a></li>
                    <li> <a class="dropdown-item navbar-item" href="/gallery/feed"
                            title="View only posts from people you are following">Feed</a></li>
                    <li> <a class="dropdown-item navbar-item" href="/gallery/museum/1"
                            title="View artwork that you can't interact with">Museum</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary navbar-item dropdown-toggle" type="button" id="dropdownmenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Shopping
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu" style="background:beige;padding:0">
                    <li><a class="dropdown-item navbar-item" href="/users/cart" title="View your shopping cart">Cart</a>
                    </li>
                    <li> <a class="dropdown-item navbar-item" href="/users/purchases"
                            title="View your purchases">Purchases</a></li>
                    <li> <a class="dropdown-item navbar-item" href="/users/sales" title="View your sales">Sales</a></li>
                </ul>
            </div>
            <a href="/conversation" class="navbar-item" title="View your messages">
                <div>
                    Conversations
                </div>
            </a>
            <a href="/gallery/new" class="navbar-item" title="Create a new post">
                <div>
                    New Post
                </div>
            </a>
            <a href="/logout" class="navbar-item" title="Please come back">
                <div>
                    Logout
                </div>
            </a>
            <% } else { %>
                <a href="/register" class="navbar-item" title="Sign up for an account">
                    <div>
                        Register
                    </div>
                </a>
                <a href="/login" class="navbar-item" title="Login to an account">
                    <div>
                        Login
                    </div>
                </a>
                <% } %>
                    <!-- <% if (typeof routes !=='undefined' ) { %>
                    <% routes.forEach((route)=> { %>
                        <a class="navbar-item" href="<%= route.href %>">
                            <div>
                                <%= route.title %>
                            </div>
                        </a>
                        <% }) %>
                            <% } %> -->
    </div>
</nav>