
.gallery_container{

}
.user_info_container{
    background-color: powderblue;
    text-align: center;
    position:fixed;
    width:17%;

}

  .main_posts_container{
    background-color: #FED9B7;
    text-align: center;
    width: 66%
  }


  .followings_container{
      background-color: powderblue;
      position: fixed;
      right:0;
      top: 100px;
      overflow-y: scroll;
      width: 17%;


  }

.follower_name:hover{

background-color: grey;
}

.following_avatar{
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    
}