.main_container{
    padding-top: 10vh;
}
.form{
    position:relative;
    /* top:15%; */

    background-color: #FDFCDC;
    text-align: center;
    height:50vh;
    width:30vw;
    border-radius: 25px;
    box-shadow: 10px 10px 10px grey;
    border:grey solid 2px;
    overflow: auto;
    margin: 0 auto;
  }

