.main_container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vw;
    padding-top: 3vh;
    margin: 0 5vh;
}

.post_image{
    width:39.9vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.left_container{
    width:40vw;
    height: 100%;
    background: #FDFCDC;
    border-radius: 25px;
    box-shadow: 10px 10px 10px grey;
    border:grey solid 2px;
}

.buttons_container{
    display:flex;
    align-items: center;
    justify-content: center;
}

.comments_container{
    background: #FDFCDC;
    border-radius: 25px;
    box-shadow: 10px 10px 10px grey;
    border:grey solid 2px;
    height:fit-content;
}

.comment_container{
    background: linear-gradient(#FDFCDC,white);
    padding-top: .5vh;
    padding-bottom: .5vh;
    display: flex;
    align-items: center;
}

.comment_count{
    text-align: center;
}

.comment_avatar{
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    object-fit: cover;
    width: 70px;
    height:70px;
    
}


a{
    text-decoration: none;
}