<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>
  <title>
    The Exhibit
  </title>
  <link rel="stylesheet" href="/styles/splash/splash.css">
    <body>
        <%- include('../partials/_navbar') %>
            <div class="gallery">
                <div class="clipped-border">
                    <img src="https://i.imgur.com/iYLKFWX.jpeg"
                        id="clipped">
                </div>
                <div class="clipped-border">
                    <img src="https://i.imgur.com/UZhe6Tx.jpeg"
                        id="clipped">
                </div>
                <div class="clipped-border">
                    <img src="https://i.imgur.com/3yoCPY3.jpeg"
                        id="clipped">
                </div>
                <div class="clipped-border">
                    <img src="https://i.imgur.com/cA0BERR.jpeg"
                        id="clipped">
                </div>
                <div class="clipped-border">
                    <img src="https://i.imgur.com/jJiool7.jpeg"
                        id="clipped">
                </div>
                <div class="shadow"></div>
            </div>
    </body>