:root{
    --width: 100%;
    --height: 100%;
    --border-width: 200px;
    --border-height: 200px;
  
  }
  
  html,body{
    background:radial-gradient(#FED9B7,pink);
    /* background-color: #FED9B7; */
    height:100%;
    width:100%;
    position:relative;
    overflow:hidden;
    display:flex;
  }

  a{
    text-decoration: none;
  }
  .form{
    position:relative;
    top:15%;
    background-color: #FDFCDC;
    left:10vw;
    height:70%;
    width:40vw;
    border-radius: 25px;
    box-shadow: 10px 10px 10px grey;
    border:grey solid 2px;
    overflow: auto;
  }

  form > * {
    margin-top:10px;
  }

  .form_title{
    text-align: center;
  }

  .form__input{
    text-align: center;
  }
  .avatar__input{
    text-align: center;
  }

  .buttons_container{
    position:absolute;
    bottom: 5%;
    width:100%;
    text-align: center;
    left:50%;
    transform:translateX(-50%);
  }

  .form_button{
    text-align: center;
    padding: 13px 20px 13px 20px;
    font-weight: bold;
    border-radius:40px;
    background: beige;
    border: 2px solid #00AFB9;
    color:#00AFB9;
    letter-spacing:1px;
    text-shadow:0;
    margin-left: 10px;
    margin-bottom: 30px;
    justify-content: center;
  }

  .form_button:hover{
    transform: scale(1.1);
    transition:150ms ease-in-out;
    background-color: #00AFB9;
    color:beige;
  }

  .bullet_points{
    padding: 10px 25px 10px 25px;
  }
  
  .gallery{
    position:relative;
    height:100%;
    width:100%;
    top:20%;  
    right:-20vw;

  }
  
  .gallery:after{
    content:'';
  }
  
  .shadow{
    position: absolute;
    top: 500px;
    left: 100px;
    width: 500px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(#805d78,rgba(0,0,0,0) 70%);
  }
  
  img{
    width:var(--width);
    height:var(--height);
  }
  
  .clipped-border{
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
     clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
     padding:5px;
     background:linear-gradient(grey,lightgrey);
     width:var(--border-width);
     height:var(--border-height);
     max-height:250px;
     max-width:250px;
     height: var(--height);
     width:var(--width);
     transition:transform 0.2s;
     position:absolute;
     cursor:pointer;
  }
  
  
  
  .clipped-border:before{
    content:'';
    position:absolute;
    opacity:0.5;
    width:350px;
    height:70px;
    background:white;
    top:0;
    left:0;
    z-index:1;
    transform:rotate(45deg);
    transition:transform 0.5s;
  }
  
  .clipped-border:hover:before{
    transform: translate(-100px,400%) rotate(45deg);
    transition:transform 0.5s;
  }
  
  .clipped-border:nth-child(2){
    top:196px;
    left:118px;
  }
  
  .clipped-border:nth-child(3){
    top:0;
    left:235px;
  }
  
  .clipped-border:nth-child(4){
    top:196px;
    left:353px;
  }
  
  .clipped-border:nth-child(5){
    top:0;
    left:470px;
  }
  
  #clipped {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  
  }
  
  .clipped-border:hover{
    transform:scale(1.2);
    transition:transform 0.2s;
    z-index:10;
  }
  
  
  @media screen and (max-width:500px){
    .clipped-border{
      width:100px;
      height:100px;
    }
    
    .clipped-border:nth-child(2){
      top:0;
      left:100px;
    }
    
    .clipped-border:nth-child(3){
      left:200px;
    }
    
    .clipped-border:nth-child(4){
      top:82px;
      left:50px;
    }
    
    .clipped-border:nth-child(5){
      top:82px;
      left:150px;
    }
  }
  
  