<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        Gallery
    </title>
    <body>
        <%- include('../partials/_navbar') %>

        YOU HIT THE GALLERY VIEW
    </body>
