<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        Gallery
    </title>

    <body>
        <%- include('../partials/_navbar') %>

            YOU HIT THE GALLERY VIEW

            <% for(let i=0;i<posts.length;i++) {%>
                <a href="/gallery/<%= posts[i].id %>">
                    <div>
                        <img src="<%= posts[i].image %>" alt="" srcset="">
                    </div>
                </a>

                <% } %>
    </body>