<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        New Post
    </title>
    <link rel="shortcut icon" href="/resources/logo/logo.png">
    <link rel="stylesheet" href="/styles/posts/new.css">

    <body>
        <%- include('../partials/_navbar') %>
        <div class="main_container">
            <div class="form">
                <h1 class="form__name">New Post</h1>
                <form action="/gallery" method="POST" id="form__box" enctype="multipart/form-data">
                    <% if (typeof error !=='undefined' ) { %>
                        <article class="message is-danger">
                            <div class="message-header">
                                <p>Danger</p>
                            </div>
                            <div class="message-body">
                                <%= error.message %>
                            </div>
                        </article>
                        <% } %>

                            <div class="form__input">
                                <label for="title">Title</label><br />
                                <input maxlength="30" type="text" class="input" placeholder="Mountains" name="title"
                                    id="title" required>
                            </div>
                            <div class="form__input">
                                <label for="image">Upload Image</label><br />
                                <input type="file" class="input image_upload" placeholder="Image URL" name="image" id="image" accept="image/*" required>
                            </div>
                            <div class="form__input">
                                <label for="description">Description</label><br />
                                <input maxlength="300" type="text" class="input" placeholder="Description"
                                    name="description" id="description" required>
                            </div>
                            <div class="form__input">
                                <label for="price">Price</label><br />
                                <input maxlength="300" type="number" class="input" placeholder="$199.99"
                                    name="price" id="price" step="0.01" min=0 required>
                            </div>

                            <div class="form__input">
                                <label for="tags">Tags separated by commas</label><br />
                                <input type="text" class="input" placeholder="art,painting,landscape" name="tags" id="tags"
                                    >
                            </div>
                            <div>
                                <button class="form__button">Submit New Post</button>
                            </div>
                            
                </form>
            </div>
        </div>

    </body>

</html>