<!DOCTYPE html>
<html lang="en">

<%- include('../partials/_head') %>
    <title>
        SHOW
    </title>
    <body>
        <%- include('../partials/_navbar') %>

        YOU HIT THE SHOW POST VIEW
    </body>
