.navbar{
    margin-bottom: 0px;
    background:radial-gradient(#FED9B7,#F07167);
    backdrop-filter: blur(10px);
    position:fixed;
    width:100%;
    z-index: 2;

}

html,body{
    background:radial-gradient(#FED9B7,pink);
    /* background-color: #FED9B7; */
    height:100%;
    width:100%;
    /* position:relative; */
  }