.navbar{
    margin-bottom: 0px;
    background:linear-gradient(#0081A7,#FED9B7);
    backdrop-filter: blur(10px);
    position:fixed;
    width:100%;
    z-index: 2;

}

#search_input{
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
}
.navbar-end{
    display:flex;

}

.navbar-item{
padding:4px 8px 4px 8px; 
border-radius: 10px;
background:beige;
color:#00AFB9;
margin-right: .5vw;
border: 2px solid #00AFB9;
text-align: center;
}

.navbar-item:hover{
    color:beige;
    background:#00AFB9;
    box-shadow: 5px 5px 5px grey;
}

html,body{
    background:radial-gradient(#FDFCDC,#FED9B7);
    /* background-color: #FED9B7; */
    height:100%;
    width:100%;
    /* position:relative; */
  }

  .main_container{
      position:relative;
      top:55px;
  }



a{
    text-decoration: none;
}
