.navbar{
    margin-bottom: 55px;
    background:radial-gradient(#FED9B7,#F07167);
    backdrop-filter: blur(10px);

}

html,body{
    background:radial-gradient(#FED9B7,pink);
    /* background-color: #FED9B7; */
    height:100%;
    width:100%;
    /* position:relative; */
  }